<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jitendract.jitdemo">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- Android 13 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" /> <!-- Geofence -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/smicon1"
        android:supportsRtl="true"
        android:theme="@style/Theme.JitDemo">
        <activity
            android:name=".MultiTaskPayBills"
            android:exported="false" />
        <activity
            android:name=".SignInPage"
            android:exported="false" />
        <activity
            android:name=".CustomInboxActivity"
            android:exported="false" />
        <activity
            android:name=".Settings"
            android:exported="false" />
        <activity
            android:name=".HomeScreen2"
            android:exported="false" />
        <activity
            android:name=".FDSummary"
            android:exported="false" />
        <activity
            android:name=".FDHome"
            android:exported="false" />
        <activity
            android:name=".ControlCenter"
            android:exported="false"
            android:label="@string/title_activity_control_center" />
        <activity
            android:name=".Testtemp"
            android:exported="false" />
        <activity
            android:name=".temp"
            android:exported="true" />
        <activity
            android:name=".inbox_app"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".displayNative"
            android:exported="false" />
        <activity
            android:name=".webview"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.jitdemo.jitendract.com"
                    android:pathPrefix="/webview"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Anonymous"
            android:exported="false" />
        <activity
            android:name=".HomeScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.jitdemo.jitendract.com"
                    android:pathPrefix="/*x"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />

<!--        Axis PE Demo-->
<!--        <meta-data-->
<!--            android:name="CLEVERTAP_ACCOUNT_ID"-->
<!--            android:value="TEST-R5K-84Z-686Z" />-->
<!--        <meta-data-->
<!--            android:name="CLEVERTAP_TOKEN"-->
<!--            android:value="TEST-14b-352" />-->

<!--        Test Jitendra Clev-->
        <meta-data
            android:name="CLEVERTAP_ACCOUNT_ID"
            android:value="TEST-75R-654-5Z6Z" />
        <meta-data
            android:name="CLEVERTAP_TOKEN"
            android:value="TEST-456-25a" />
        <!-- <meta-data -->
        <!-- android:name="CLEVERTAP_BACKGROUND_SYNC" -->
        <!-- android:value="1" /> -->
        <!-- <service -->
        <!-- android:name = "com.clevertap.android.sdk.pushnotification.amp.CTBackgroundJobService" -->
        <!-- android:exported = "false" -->
        <!-- android:enabled = "false" -->
        <!-- tools:ignore = "MissingClass" /> -->
        <service
            android:name=".MyFirebase"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".ProgressTimer" />

        <meta-data
            android:name="CLEVERTAP_NOTIFICATION_ICON"
            android:value="smicon" />
        <meta-data
            android:name="CLEVERTAP_INAPP_EXCLUDE"
            android:value="SplashScreen" />
    </application>

</manifest>